$mc: #1472FF;   
$mc1: #3D91FF;
$mc2: #1159D6;
$mc3: #1472FF;
$mc4: #FFF;

$ec: #FF2929;
$ec1: #FF5752;
$ec2: #D62228;

$sc: #2FCE63;
$sc1: #44d272;
$sc2: #2ab858;
// 常规字体颜色
$regularFont: #333;
$inputFont: #1F1F1F;

$iconFont: #B8B8B8;
//　常规border颜色
$regularBorder: #DBDBDB;
$dec: #333; //默认字体
$dis:#F5F5F5; //禁止
$dis2: #E0E0E0; //复选框禁止边框

$decLight: #b2b2b2;


//　警告
$warningColor: #ffb85e;


/*------ 2021 -------*/
$mc: #1472FF;  //品牌主色

$white: #FFF;
$block: #000;

$fc1: #333;  //主字色1，主标题
$fc2: #666;  //主字色2，副标题
$fc3: #B8B8B8;  //辅助、说明文字
$fc4: #CCC;  //占位符、提示文字
$fc5: #333333; // form color

$lc: #EBEBEB;  //分割线、边框
// $lc: #E0E0E0;  //分割线、边框

$bc: #F5F5F5;  //页面背景色

$dis-text: #DBDBDB; // 禁止文字色 （时间选择器边框）
$dis-bg: #F5F5F5; //禁止背景色
$dis-bg1: #F9F9F9; //禁止背景色-radio, 未使用，待确认同一
$dis-form-text: #B8B8B8; //form dis
$dis-picker-text: #B8B8B8; //时间日期选择器输入框占位符文字颜色



$hover1: #F0F5FF;
$mc-mrk: #FFA114; //营销主色

$ec: #FF2929; //错误状态色



