@import '../base.scss';

.ss-dropdown-item {
  color: #353535;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
  box-sizing: border-box;
  &:hover {
    background-color: #f7f8fb;
    color: $mc;
  }
  &.ss-dropdown-item__disabled {
    background-color: transparent;
    color: #B2B2B2;
    cursor: not-allowed;
  }
}