@import '../base.scss';

.ss-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
  padding: 0 8px 0 12px;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    background-color: #F0F7FF;
  }
  &.ss-option__disabled {
    background-color: transparent;
    color: #B2B2B2;
    cursor: not-allowed;
  }
  &.ss-option__selected {
    // color: $mc;
    background-color: #F0F7FF;
  }
  & .sense-icon-selected{
    margin-left: 8px;
    color: #323233;
  }
}